sudo: false

language: node_js
node_js:
  - "4"
  - "6"
  - "7"
  - "8"

cache:
  directories:
    $HOME/.npm

before_install:
  # prevent the npm loading indicator
  - npm config --global set spin false
  # if npm version is less 3.0.0 (lets say 1.x or 2.x) we should attempt to upgrade to 3
  - if [[ $(npm -v | cut -d '.' -f 1) -lt 3 ]]; then npm i -g npm@^3; fi

install:
  - travis_retry npm install

script:
  - npm run test

deploy:
  provider: npm
  email: stefan.penner+ember-cli@gmail.com
  api_key:
    secure: JW22glZPT//0Ds4FQw0o2G25QJjwwfkmpRBYG0xPb7f4VxRN11jMCLrBzFAgjb7dLOb9qpiDXFgYp2mFnAJPyohwzaQu6tooTl5h7GijOqx1oWpDkq76VhHIDmypy+l9GaVszKLUXEw8sav1caEyOixZz+scCtBMiLINmXhV7SIjIbO36nX4/YbKX0qedf6GOVrNpHkeeHsw5faCIO9PENO/BZSNP/YNx2z5mhrl7tyCpvPyI7X+FsdOUgZAcKt5ocQi6TNp6MtHmHT/WytNPzzgXeZK4Gd9O8/wGcWbDl38/LId8MNaUMbX4mqPh8wIEZhVACsvHmX2LsjnTn31pOObEFvcvXTBaCTuL5v9f8KqKJpz9vgnpWEWAst3U7ffuscip0dcRaBIQJ8FvoM7T9RQulc2RzK+uWn3DTiWLpnUwqwN6XjSUTXthRtydaetxsZ9yizFkDEPDOHN+B1cbqdEkqj1An1K6OKXXiv1WgcC5MfIwdMCP6ybt7yogruBlFDe1X4mjh3B/nWdi9jZkUiUbsqAjr0x+rSWFUCQe3N/8iL9j+HIoAgMCJqPnibwGAZ9VGZA1qJNyGaKUGxpmNYDgDkDmNndzIssy/9fl1C+fmGQL18P4ViaDhKYhi7Dnrvk+VjUx2sBbfIIhBstiLRqEH5Y2QK5XcTpahz74pc=
  on:
    tags: true
    repo: ember-cli/console-ui
